
@{
    ViewData["Title"] = "CasualShirts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<html>
<head>
    <link rel="stylesheet" href="~/css/Style1.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <h2></h2>
    <section class="section featured">
        <div class="product-center container">
            <div class="product">
                <div class="product-header">
                    <img src="~/Images/S1.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Peter England</h3>
                    </a>
                    <a href="#">
                        <h4>Men Super Slim Fit Casual Shirt</h4>
                    </a>

                    <h4 class="price">$100</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/s2.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Surhi</h3>
                    </a>
                    <a href="#">
                        <h4>Men Slim Fit Checkered Casual Shirt</h4>
                    </a>

                    <h4 class="price">$60</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/S3.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Dennis Lingo</h3>
                    </a>
                    <a href="#">
                        <h4>Men Solid Slim Collar Casual Shirt </h4>
                    </a>
                    <h4 class="price">$50</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/S4.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Being Fab</h3>
                    </a>
                    <a href="#">
                        <h4>Men Regular Solid Spread Casual Shirt</h4>
                    </a>

                    <h4 class="price">$70</h4>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="product-center container">
            <div class="product">
                <div class="product-header">
                    <img src="~/Images/S5.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Parx</h3>
                    </a>
                    <a href="#">
                        <h4>Men Slim Fit Printed Casual Shirt</h4>
                    </a>


                    <h4 class="price">$90</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/S6.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Protocol</h3>
                    </a>
                    <a href="#">
                        <h4>Men Solid Mandarin Collar Casual Shirt</h4>
                    </a>

                    <h4 class="price">$80</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/S7.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Fubar</h3>
                    </a>
                    <a href="#">
                        <h4>Men Slim Fit Striped Casual Shirt</h4>
                    </a>
                    <h4 class="price">$50</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/S8.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Pepzo</h3>
                    </a>
                    <a href="#">
                        <h4>Men Regular Fit Solid Casual Shirt</h4>
                    </a>

                    <h4 class="price">$150</h4>
                </div>
            </div>

        </div>
    </section>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




