
@{
    ViewData["Title"] = "Jeans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<html>
<head>
    <link rel="stylesheet" href="~/css/Style1.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <h2></h2>
    <section class="section featured">
        <div class="product-center container">
            <div class="product">
                <div class="product-header">
                    <img src="~/Images/J1.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Max</h3>
                    </a>
                    <a href="#">
                        <h4>Slim Boys Blue Jeans</h4>
                    </a>

                    <h4 class="price">$100</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/J2.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Killer</h3>
                    </a>
                    <a href="#">
                        <h4>Slim Boys Dark Blue Jeans</h4>
                    </a>

                    <h4 class="price">$60</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/J3.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Provogue</h3>
                    </a>
                    <a href="#">
                        <h4>Slim Boys Light Blue Jeans </h4>
                    </a>
                    <h4 class="price">$50</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/J4.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Guchu</h3>
                    </a>
                    <a href="#">
                        <h4>Slim Boys Dark Blue Jeans</h4>
                    </a>

                    <h4 class="price">$70</h4>
                </div>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>



        <div class="product-center container">
            <div class="product">
                <div class="product-header">
                    <img src="~/Images/J5.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Jumpy Style</h3>
                    </a>
                    <a href="#">
                        <h4>Regular Boys Blue Jeans</h4>
                    </a>


                    <h4 class="price">$90</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/J6.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Guchu</h3>
                    </a>
                    <a href="#">
                        <h4>Slim Boys Light Blue Jeans</h4>
                    </a>

                    <h4 class="price">$80</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/J7.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Killer</h3>
                    </a>
                    <a href="#">
                        <h4>Slim Black Jeans</h4>
                    </a>
                    <h4 class="price">$50</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/J8.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Provogue</h3>
                    </a>
                    <a href="#">
                        <h4>Slim Dark Jeans</h4>
                    </a>

                    <h4 class="price">$150</h4>
                </div>
            </div>

        </div>
    </section>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






