
@{
    ViewData["Title"] = "Saree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Style1.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h2></h2>
<section class="section featured">
    <div class="product-center container">
        <div class="product">
            <div class="product-header">
                <img src="~/Images/Sari a.jpg">
            </div>
            <div class="product-footer">
                <a href="#">
                    <h3>SAARA</h3>
                </a>
                <a href="#">
                    <h4>Floral Print Daily Wear Saree</h4>
                </a>

                <h4 class="price">$100</h4>
            </div>
        </div>

        <div class="product">
            <div class="product-header">
                <img src="~/Images/sarib.jpg">
            </div>
            <div class="product-footer">
                <a href="#">
                    <h3>Anand</h3>
                </a>
                <a href="#">
                    <h4>Floral Print Daily Wear Saree</h4>
                </a>

                <h4 class="price">$60</h4>
            </div>
        </div>

        <div class="product">
            <div class="product-header">
                <img src="~/Images/SR12.jpg">
            </div>
            <div class="product-footer">
                <a href="#">
                    <h3>Shaily Retails</h3>
                </a>
                <a href="#">
                    <h4>Womens Daily wear Saree</h4>
                </a>
                <h4 class="price">$50</h4>
            </div>
        </div>

        <div class="product">
            <div class="product-header">
                <img src="~/Images/SR13.jpg">
            </div>
            <div class="product-footer">
                <a href="#">
                    <h3>Leelavati</h3>
                </a>
                <a href="#">
                    <h4>Printed Bandhani Saree</h4>
                </a>

                <h4 class="price">$70</h4>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="product-center container">
        <div class="product">
            <div class="product-header">
                <img src="~/Images/SR14.jpg">
            </div>
            <div class="product-footer">
                <a href="#">
                    <h3>Bynox</h3>
                </a>
                <a href="#">
                    <h4>Womens Daily wear Saree</h4>
                </a>


                <h4 class="price">$90</h4>
            </div>
        </div>

        <div class="product">
            <div class="product-header">
                <img src="~/Images/SR15.jpg">
            </div>
            <div class="product-footer">
                <a href="#">
                    <h3>Fabwomen</h3>
                </a>
                <a href="#">
                    <h4>Self Design Woven Saree</h4>
                </a>

                <h4 class="price">$80</h4>
            </div>
        </div>

        <div class="product">
            <div class="product-header">
                <img src="~/Images/SR11.jpg">
            </div>
            <div class="product-footer">
                <a href="#">
                    <h3>Om Shantam</h3>
                </a>
                <a href="#">
                    <h4>Embroidered Banarasi Saree</h4>
                </a>
                <h4 class="price">$50</h4>
            </div>
        </div>

        <div class="product">
            <div class="product-header">
                <img src="~/Images/SR2.jpg">
            </div>
            <div class="product-footer">
                <a href="#">
                    <h3>BAPS</h3>
                </a>
                <a href="#">
                    <h4>Womens Daily wear Saree</h4>
                </a>

                <h4 class="price">$150</h4>
            </div>
        </div>

    </div>
</section>
    </body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
