
@{
    ViewData["Title"] = "WomenDresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

@{
    ViewData["Title"] = "Saree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/Style1.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <h2></h2>
    <section class="section featured">
        <div class="product-center container">
            <div class="product">
                <div class="product-header">
                    <img src="~/Images/WD1.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Micozy</h3>
                    </a>
                    <a href="#">
                        <h4>Women A-line Dress</h4>
                    </a>

                    <h4 class="price">$100</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/WD2.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Aayu</h3>
                    </a>
                    <a href="#">
                        <h4>Women Fit and Flare Dress</h4>
                    </a>

                    <h4 class="price">$160</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/WD3.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Jash Creation</h3>
                    </a>
                    <a href="#">
                        <h4>Women Aline Solid Dress</h4>
                    </a>
                    <h4 class="price">$70</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/WD4.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Zima Leto</h3>
                    </a>
                    <a href="#">
                        <h4>Women Maxi Dress</h4>
                    </a>

                    <h4 class="price">$70</h4>
                </div>
            </div>

        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="product-center container">
            <div class="product">
                <div class="product-header">
                    <img src="~/Images/WD5.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Karagre</h3>
                    </a>
                    <a href="#">
                        <h4>Women Maxi Dress</h4>
                    </a>


                    <h4 class="price">$90</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/WD6.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>VSKin</h3>
                    </a>
                    <a href="#">
                        <h4>Women Fit and Flare Dress</h4>
                    </a>

                    <h4 class="price">$80</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/WD8.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Prettify</h3>
                    </a>
                    <a href="#">
                        <h4>Women A-line Dress</h4>
                    </a>
                    <h4 class="price">$50</h4>
                </div>
            </div>

            <div class="product">
                <div class="product-header">
                    <img src="~/Images/WD9.jpg">
                </div>
                <div class="product-footer">
                    <a href="#">
                        <h3>Kannan</h3>
                    </a>
                    <a href="#">
                        <h4>Womens Maxi Light Dress</h4>
                    </a>

                    <h4 class="price">$150</h4>
                </div>
            </div>

        </div>
    </section>
</body>
</html>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
